.button {
  border-radius: 8px;
  padding: 0.5rem 0;
  border: none;
  width: 100%;
  cursor: pointer;
  font-family: inherit;
  background: none;

  &--active {
    background: var(--background-color);
  }
}
