.card {
  background: white;
  border-radius: var(--border-radius);
  width: 100%;
  box-shadow: var(--box-shadow);
  &__header {
    color: white;
    background: var(--linear-gradient);
    font-size: var(--secondary-font-size);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 1rem;
    height: 48px;
    display: flex;
    align-items: center;
  }
}
