.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 1rem;
  background: var(--linear-gradient);
  .options {
    display: flex;
    gap: 1rem;
    color: var(--light-grey-color);
    align-items: center;
  }
}
