.table-container {
  &__table {
    width: 100%;
    border-collapse: collapse;
    &--currency {
      min-width: 100px;
    }
  }

  &__table-row {
    cursor: pointer;
    border: 2px solid var(--light-grey-secondary-color);
  }

  &__table-header {
    font-weight: 500;
    text-align: left;
    padding: 0.5rem 1rem;
  }

  &__table-body {
    & > tr:nth-child(even) {
      border-left: 2px solid var(--blue-color);
    }
  }

  &__table-data {
    padding: 1rem;
    color: var(--blue-color);
  }

  &__icon {
    color: var(--blue-color);
  }

  &__table-wrapper {
    overflow: auto;
  }
}
