@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  display: flex;
  justify-content: flex-end;
  &__wrapper {
    background: var(--white-color);
    display: flex;
    justify-content: flex-end;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
    position: relative;
    &__icon {
      color: var(--blue-color);
      cursor: pointer;
    }
    &__button {
      font-family: inherit;
      outline: none;
      border: none;
      background: none;
      height: 30px;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: var(--secondary-font-size);
    }
    &__options {
      &--show {
        display: flex;
        animation: fadeIn 0.3s ease-in-out;
        flex-direction: column;
        position: absolute;
        background: var(--white-color);
        padding: 1rem;
        top: 0;
        right: 0;
        gap: 0.5rem;
      }

      &--hide {
        display: none;
      }
    }
    &__close {
      display: flex;
      text-align: end;
      justify-content: space-between;
    }
    &__title {
      width: 100%;
      text-align: center;
    }
    &__option {
      min-width: 200px;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      font-size: var(--secondary-font-size);
      color: var(--blue-color);
      font-weight: 500;
    }
  }
  &__button {
    font-family: inherit;
    outline: none;
    border: none;
    background: var(--red-color);
    border-radius: var(--border-radius);
    color: var(--white-color);
    padding: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    &:disabled {
      background-color: #f5a5aa;
    }
  }
}
